<html>
<head>
    <title>WeHaul Test</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap-theme.css">
    <link rel="stylesheet" href="css/customizations.css">
</head>
<body>
<!--NAVBAR CODE-->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="" class="navbar-brand dropdown-toggle" data-toggle="dropdown" role="button" id="omni">☰</a>
            <ul class="dropdown-menu">
                <li><a href="homeB">Home</a></li>
                <li><a href="settingsB">Account Settings</a></li>
                <li><a href="helpB">Help &amp; FAQ</a></li>
                <li><a href="historyB">History</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/B">Logout</a></li>
            </ul>
        </div>
        <div class="nav navbar-nav">
            <h2>WEHAUL</h2>
        </div>
    </div>
</nav>

<div class="container">
    <h1>Current Ride Requests</h1>
    {{#each rides}}
        <div class="panel panel-default ride">
            <span class="glyphicon glyphicon-road detailsImage"></span>
            <h4><b>{{name}}</b></h4>
            <p><b>Current Location:</b> {{start}}</p>
            <p><b>Destination:</b> {{end}}</p>
            <p><b>Requested:</b> {{date}}</p>
            <div class="options">
                <h5>Details</h5>
                <p><b>Vehicle:</b> {{vehicle}}</p>
                <p><b>Large Boxes:</b> {{options.bigBox}}</p>
                <p><b>Small Boxes:</b> {{options.smallBox}}</p>
                <p><b>Tape:</b> {{options.tape}}</p>
                <p><b>Twine:</b> {{options.twine}}</p>
                <p><b>Bubble Wrap:</b> {{options.bubblewrap}}</p>
                <p><b>Tarps:</b> {{options.tarp}}</p>
            </div>
            <p><a class="btn btn-default acceptBtn" id="accept{{_id}}">Accept Request</a></p>
        </div>
    {{/each}}
</div>


<script src="js/jquery-3.1.1.min.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/B/acceptRideB.js"></script>
<script>
    if(localStorage.getItem("currentUser") == null) {
        window.location.href = "/B"
    }
</script>
</body>
</html>